@* @model Web3IoT.Models.Crop

@{
    ViewData["Title"] = "Xóa cây trồng";
}

<div class="container-fluid">
    <h1 class="mt-4">@ViewData["Title"]</h1>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-trash me-1"></i>
            Xác nhận xóa cây trồng
        </div>
        <div class="card-body">
            <h3>Bạn có chắc chắn muốn xóa cây trồng này?</h3>
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CropCode)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CropCode)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Type)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Type)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Variety)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Variety)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Location)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Location)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DatePlanted)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.DatePlanted)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DateHarvested)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.DateHarvested)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Status)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Status)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.LastUpdate)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.LastUpdate)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.BlockHash)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.BlockHash)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Farm)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Farm.Name)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Sensor)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Sensor.Name)</dd>
                    </dl>
                </div>
            </div>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </form>
        </div>
    </div>
</div>  *@